extends layout

block content
  .container-fluid.main.px-4.mt-4
    .row
        .col.mt-2
            h1 Cookies Policy 

    .row
        .col.mt-4
            h3 What are cookies?
    
    .row
        .col.mt-2

            span.text
                    | A cookie is a small text file that a website stores on your computer or mobile device when you visit this site. 
                    |
                    | First party cookies are cookies set by the website you’re visiting and only that website can read them. In addition, a website might potentially use external services, which also set their own cookies, known as third-party cookies. 
                    |
                    | Persistent cookies are cookies saved on your computer which are not deleted automatically when you quit your browser. A session cookie on the other hand is deleted when you quit your browser. 
                    br
                    | By accepting cookies on this site you give explicit permission that a persistent cookie can be set to store your response. If you delete this cookie, you will be prompted to accept cookies every time you visit this website. 
                    br
                    | Accepting the prompt or continued browsing on the page will be considered consent to the use of cookies. The use of the site without consenting is not possible. 
                    br
                    | The purpose of first party cookies is to provide the most lightweight and user friendly themed playlist recommendation experience possible, while third-party cookies are used to collect anonymised information about your visit (e.g. visited pages, length of visit etc.) so that the user experience can be further improved. 
                    |
                    | Cookies can also be used to establish anonymised statistics about the browsing experience on this site.

    .row
        .col.mt-4
            h3 How are cookies used on this website?
    
    .row
        .col.mt-2

            span.text
                | This website uses a persistent first party cookie to register if you have given consent to the third party tracking cookies (see below). The cookie is set after you have actively accepted this cookie policy, and no persistent tracking cookie is set if you leave the page without giving consent.
                br
                | This website also uses first party cookies to store information about the Spotify user currently using the application and to provide the playlist recommendation. The information stored in those cookies is not publicly available and stored in the browser of the respective user. The information stored in those cookies consists of: Spotify Username, Spotify Web API Access Token, Spotify API Refresh Token, List of Songs and Search Query
                br
                | This website uses third party cookies provided by the Microsoft Azure "App Service" and Azure "Application Insights Service" in order to make it operational (Azure Web Apps) and gather analytics data (Azure App Insights). The information gathered from these cookies is anonymised and can only be accessed by the website owner and, in very rare support request scenarios, by the operator of those services (Microsoft).
                br
                | For more information on these services and how they use cookies, please visit the documentation for
                
                | #[a(href="https://privacy.microsoft.com/en-us/privacystatement") Azure App Service] and/or
                
                | #[a(href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy") Azure Application Insights]

    .row
        .col.mt-4
            h3 How can you manage cookies?
   
    .row
        .col.mt-2

            span.text
                p(style="font-weight:bold")
                    |
                    |Removing cookies from your device
                    |
                    p
                    | You can delete all cookies that are already on your device by clearing the browsing history of your browser. This will remove all cookies from all websites you have visited. 
                    br
                    | Be aware though that you may also lose some saved information (e.g. saved login details, site preferences). 
                    br
                    |For more detailed control over site-specific cookies, check the privacy and cookie settings in your preferred browser
                    
            p(style="font-weight:bold")
                | Blocking cookies
                |
                p
                | You can set most modern browsers to prevent any cookies being placed on your device, but you may then have to manually adjust some preferences every time you visit a site/page. Some services and functionalities may also not work properly at all (e.g. profile logging-in, accessing your Spotify account information)