extends layout

block content
  .container-fluid
    .row
      .col
        h1= title
        p Automatically create your own playlists using #{title}
    .row
      .col
        h1 Search for a theme to create your playlist
    .row
      .col
        form(action='spotify_api/search', method='post')
          .input-group
            input.form-control(name='query', type='text', placeholder="Give us a theme ;-)", aria-label="Theme", aria-describedby='basic-addon2')
            .input-group-append
              button.btn.btn-outline-secondary(type='submit') Search
