html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="author" content="Cedric Mensah")
    meta(name="description" content="Automatically create Spotify Playlists based on any theme you can think of")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Spotify Themes App")
    meta(property="og:description" content="Automatically create Spotify Playlists based on any theme you can think of. Just type the theme in the search bar and add the resulting playlist to your account")
    meta(property="og:image" content="https://images.unsplash.com/photo-1494232410401-ad00d5433cfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80")
    meta(property="og:url" content="https://spotify-themes.azurewebsites.net")

    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel="shortcut icon" href="/images/favicon.ico")
    link(rel="apple-touch-icon" href="/images/touch-icon.png")

    script(src="/javascripts/webanalytics.js")


  body
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/')
        img(src="/images/spotify_icon_rgb_green.png" alt="Logo").responsive
      a.navbar-brand(href='/') Spotify Themes App
      if data
        a(href="/playlist_created")
          button(id="create_playlist", role="button").btn-lg.btn-success.mt-2.mb-2 Create your Playlist
      
  block content


  script(src="/jquery/jquery.min.js")
  script(src='/js/bootstrap.bundle.js')
  script(src="/javascripts/create_playlist.js")

