doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")


  body
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/')
        img(src="/images/spotify_icon_rgb_green.png" alt="Logo").responsive
      a.navbar-brand(href='/') Spotify Themes App
      if data
        a(href="/success")
          button(id="create_playlist", role="button").btn-lg.btn-success.mt-2.mb-2 Create your Playlist
      
  block content


  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
  script(src="/javascripts/create_playlist.js")

