extends layout


block content
  .container-fluid.main.px-4.mt-4
    .row
      .col.mt-2
        h2 Automatically create your own theme-based playlists using the Spotify Themes App
        p.font-weight-bold.mt-4 Here is how it works: 
        p Enter a theme, thought or whatever you can think of in the search bar and the app will automatically generate a playlist with 20 songs for you based on that search. Easy, right?  If you like the playlist, you can click on "Create your Playlist" to automatically add it to your account in the Spotify app 👌🏾
    
    .row
      .col.mt-2
        p.font-weight-bold To use the app, you have to give us access to your Spotify Account by logging in below.
        p Giving us access will enable the app to search Spotify and create a playlist in your account. It will not give us access to your personal information or any data stored about you by Spotify.
            a(href="/users/token")
                 button.mt-4(id="login", role="button").btn-lg.btn-success.mt-2.mb-2 Login to Spotify